/* sticky-footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: royalblue;
  /* sticky-footer */
  margin: 0 0 30px 0;
}

.navbar {
  border-bottom: solid 3px black;
  background: white;
}

.container {
  height: 100%;
  width: auto;
}

article {
  font-size: 14px;
  border: solid 3px black;
  color: white;
  background: blue;
}

#btnNeed {
  font-size: 16px;
}

#btnProcured {
  font-size: 16px;
}

.btn:hover {
  background: blue;
}

img {
  width: 100px;
  height: 100px;
}

#wins {
  background: white;
  border: solid 2px black;
}

#losses {
  background: white;
  border: solid 2px black;
}

.footer {
  /* sticky-footer */
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: red;
  border-top: solid 3px black;
}
